# ===================================================================
# artellapipe-tools-solstice-prop-rigger requirements file
# ===================================================================
Qt.py
tpDccLib
artellapipe
artellapipe-libs-artella